.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    margin: 0 auto 33px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
